.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 50px;
    margin: 100px 0;
    gap: 40px;

    .productContainer {
        display: flex;
        //flex-wrap: wrap;
        //flex-direction: row;
        //justify-content: center;
        gap: 40px;
        width: 100%;
        padding-bottom: 40px;

        .infoContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 50%;
            min-width: 320px;
            gap: 20px;
            color: var(--wine);

            .productInfo {
                width: 100%;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(0, 0, 0, .2);

                h2 {
                    font-size: 2rem;
                    word-break: break-word;

                }

                p:first-of-type {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                p:last-of-type {
                    font-size: .9rem;
                    color: var(--wine);
                }
            }

            .quantityContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: 20px;

                .inputContainer {
                    position: relative;
                    border-radius: .4rem;
                    border: 1px solid gray;
                    flex: 1;

                    input {
                        text-align: center;
                        background-color: transparent;
                        color: black;
                        border: none;
                        padding: 5px 0;
                        width: 100%;

                        &:focus {
                            outline: none;
                        }
                    }

                    .decres,
                    .acres {
                        position: absolute;
                        top: 5px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        font-size: 1.2rem;
                    }

                    .decres {
                        left: 8px;
                    }

                    .acres {
                        right: 8px;
                    }
                }

                .buttonContainer {
                    flex: 2;
                    width: 100%;

                    .buyBtn {
                        color: white;
                        background-color: var(--wine);
                        padding: 10px;
                        width: 100%;
                        border-radius: .4rem;
                        text-transform: uppercase;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .takeCareContainer {
        width: 100%;
        max-width: 1000px;
        padding: 0 20px 0 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;

        h3 {
            text-align: center;
            font-size: 1.5rem;
        }

        ul {
            padding: 10px 0;

            li {
                list-style-type: disc;
                margin-left: 20px;
            }
        }

        h4 {
            padding-bottom: 5px;
        }
    }

    /* --- RESPONSIVIDADE --- */

    @media (max-width: 1024px) {
        padding: 0 30px;

        .productContainer {
            flex-direction: column;
            align-items: center;

            .infoContainer {
                width: 100%;
            }
        }
    }

    @media (max-width: 600px) {
        padding: 0 20px;
        margin: 50px 0;
        gap: 30px;

        .productContainer {
            gap: 20px;
        }

        .infoContainer {
            .productInfo h2 {
                font-size: 1.5rem;
            }

            .quantityContainer {
                flex-direction: column;

                .inputContainer,
                .buttonContainer {
                    width: 100%;
                }
            }
        }

        .takeCareContainer {
            padding: 0 10px;

            h3 {
                font-size: 1.2rem;
            }
        }
    }
}