.container {
    height: 90vh;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

    .image {
        object-fit: cover;
        object-position: center;
    }

    // Responsividade
    @media (max-width: 1200px) {
        height: 70vh;
    }

    @media (max-width: 768px) {
        height: 50vh;
    }

    @media (max-width: 480px) {
        height: 40vh;
    }
}