.container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 10;
    //background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent);

    .logoContainer {
        height: 100%;
        width: 120px;
        text-align: center;
        place-content: center;
        //outline: 2px solid red;
        cursor: pointer;
        position: relative;

        .image {
            object-fit: contain;
            object-position: center;
        }
    }

    .menu {
        display: flex;
        gap: 50px;

        li {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-weight: 900;

            text-transform: uppercase;
        }
    }

    .iconContainer {
        display: flex;
        gap: 20px;
        font-weight: 900;

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            span {
                text-transform: uppercase;
            }
        }

        .icons {
            display: flex;
            gap: 5px;
            cursor: pointer;
        }
    }
}