.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    gap: clamp(15px, 2vw, 40px);
    padding: 20px;

    .productsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(20px, 2vw, 40px);


        .productContainer {
            display: flex;
            flex-direction: column;
            position: relative;

            @media(hover:hover) and (pointer: fine) {
                &:hover {
                    transform: translateY(-15px);

                    .buttonContainer {
                        opacity: 1;
                        pointer-events: auto;

                        &:hover {
                            button {
                                font-weight: 900;
                            }
                        }
                    }
                }
            }

            .imageContainer {
                position: relative;
                aspect-ratio: 14 / 16;
                cursor: pointer;

                .image {
                    object-fit: cover;
                    object-position: center;
                }
            }

            .infoContainer {
                display: flex;
                justify-content: space-between;
                padding-top: clamp(5px, 1vw, 10px);
                padding-bottom: clamp(10px, 2vw, 20px);
                color: var(--wine);

                h3 {
                    font-size: clamp(1rem, 2vw, 1.2rem);
                }

                .priceContainer {
                    text-align: right;

                    h4 {
                        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
                    }

                    h5 {
                        font-size: clamp(0.8rem, 1.2vw, 1rem);
                        font-weight: 500;
                    }

                    p {
                        font-size: clamp(0.8rem, 1.2vw, 1rem);
                    }
                }

                @media(max-width: 780px) {
                    display: flex;
                    flex-direction: column;

                    .priceContainer {
                        text-align: left;
                    }
                }
            }

            .buttonContainer {
                cursor: pointer;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: clamp(90px, 7vw, 71px);
                border: 1px solid var(--wine);
                background-color: var(--wine);
                color: white;
                display: flex;
                justify-content: space-around;
                align-items: center;
                opacity: 0;
                pointer-events: none;

                .buttonInfo {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: clamp(0.7rem, 1.2vw, 0.9rem);
                        font-weight: 100;
                    }

                    h4 {
                        font-size: clamp(0.8rem, 1.5vw, 1rem);
                        font-weight: 100;
                    }

                    @media(max-width: 560px) {
                        display: none;
                    }
                }

                @media(max-width: 780px) {
                    height: 115px;
                }

                button {
                    font-size: clamp(0.85rem, 1.5vw, 1rem);
                    font-weight: 500;
                    text-transform: uppercase;
                    height: 100%;
                }
            }
        }
    }
}