.breadcrumb {
    font-size: 0.9rem;
    color: #666;

    ol {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a,
    span {
        padding: 0;
        color: var(--wine);
        text-decoration: none;


        &:hover {
            text-decoration: underline;
        }
    }

    span {
        pointer-events: none;
    }

    .separator {
        color: #999;
        margin: 0 0.3rem;
        font-weight: bold;
    }
}