.container {
    display: flex;
    flex-direction: column;
    //outline: 2px solid green;
    width: 100%;
    max-width: 300px;
    gap: 20px;

    .hamburguer {
        display: none;
        cursor: pointer;

        span {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    .filter {
        .filterContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;

            ul {
                li {
                    margin: 5px 0;
                    cursor: pointer;

                    @media(hover:hover) and (pointer:fine) {
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }

            .inputContainer {
                display: flex;
                flex-direction: column;
                gap: 15px;

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    input {
                        background-color: white;
                        border: none;
                        border-radius: .4rem;
                        padding: 5px 10px;
                        color: black;
                        letter-spacing: 2px;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .clearFilter {
                margin-top: 10px;
                cursor: pointer;
            }
        }

    }


}

@media(max-width: 769px) {
    .container {
        padding-bottom: 20px;

        .hamburguer {
            display: flex;
            z-index: 30;
            //outline: 2px solid red;
            background-color: var(--wine);
            color: white;
            width: 135px;
            padding: 10px;
            justify-content: space-between;

            svg {
                padding-left: 5px;
            }
        }

        .filter {
            opacity: 0;
            max-height: 0;

            &.open {
                opacity: 1;
                max-height: 500px;
            }
        }
    }
}

@media(max-width:560px) {
    .container {
        padding-bottom: 50px;
    }
}